.restaurant-details {
  .hour {
    .title {
      font-size: 20px;
      font-weight: bold;
    }
    .day-name {
      font-size: 14px;
      font-weight: bold;
    }
    .opening-time {
      white-space: pre;
    }
  }

  .phone-number {
    font-size: 17px;
  }
}
