$search-bar-w: 50%;

.app {
  margin: 20% 20px;

  h1 {
    text-align: center;
  }

  .search-bar {
    width: $search-bar-w;
    margin-left: (100% - $search-bar-w) / 2;
    margin-right: (100% - $search-bar-w) / 2;
  }
}
